select, option {
    text-transform: capitalize;
}

.horizontal-product-list {
    .card-deck {
        
        margin-bottom: 15px;
        margin-top: 15px;
        
        .product-list-product {
            margin-bottom: 15px;
        }

        .card-deck:last-child {
            margin-bottom: 0px;
        }
    }
}

.dark {
    .product-list-product {
        background-color: #333;
    }
}

.product-list-product {

    .badge {
        text-transform: uppercase;
        margin-right: 4px;
    }

    .card-img-top {
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        max-width: 80%;
        max-height: 80%;
        &.clearance {
            padding-top: 24px;
            max-width: 70%;
            max-height: 70%;
        }
    }
}

.tag {
    &-health {
        background-color: pink;
    }
    &-mens-health {
        background-color: royalblue;
    }
}