.horizontal-product-list {
    .card-deck {
        
        margin-bottom: 15px;
        margin-top: 15px;
        
        .product-list-product {
            margin-bottom: 15px;
        }

        .card-deck:last-child {
            margin-bottom: 0px;
        }

    }
}

.dark {
    .product-list-product {
        background-color: #333;
    }
}

.product-list-product {

    .badge {
        text-transform: uppercase;
        margin-right: 4px;
    }

}

<<<<<<< HEAD
.test {
    background-color: rgba(190, 199, 198, 0.3);
}

.descfont {
    font-family: cursive;
}

.tag {
    &-health {
        background-color: #95f795;
        border: 1px black;
    }

    &-mens-health {
        background-color: lightgrey;
        border: 1px black;
    }
}
=======
.tag {
    &-health {
        background-color: pink;
    }
    &-mens-health {
        background-color: royalblue;
    }
}
>>>>>>> 104e828d12256e443cbb0ed1729087006fb79f7a
