

.ContactInformation{

    min-height: 300px;
    padding: 5px;
    background-color: rgba(210, 255, 192, 0.25);
}


.Faq {
    min-height: 500px;
    padding: 5px;
    background-color: rgba(201, 192, 255, 0.25);
}