.checkout-table {
    td {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        &.product {
            width: 60%;
        }
        &:not(.product) {
            white-space: nowrap;
        }
        &.blank {
            border-top: 0;
        }
    }

    .qty {
        text-align: center;
    }
    .money {
        text-align: right;
    }
}

.payment-form {

    align-content: center;
    box-sizing: 10px;
.shippingInfo{
    margin-top: 30px;
}
}