.checkout-table {
    td {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        &.product {
            width: 60%;
        }
        &:not(.product) {
            white-space: nowrap;
        }
        &.blank {
            border-top: 0;
        }
    }

    .qty {
        text-align: center;
    }
    .money {
        text-align: right;
    }
}


.shippingInfo{
    margin-top: 30px;
}



.field{
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-form{
    margin-bottom: 20px;
}

.checkoutFailure{
    margin-top: 15px;
}
.checkoutFailure {
    margin-top: 15px;

    .failureAlert{
        border: 1px solid salmon;
        padding-top: 30px;
        height: 150px;
    }
    Button{
        height: 60px;
        font-size: 20px;
    }
}

.Checkout-title{
    text-align: center;
}
.Success-title{
    text-align: center;
    box-shadow:5px 10px ;
}
.success-table{
    margin:5px
}