@import "node_modules/bootstrap/scss/bootstrap.scss";

.main {

    height: 100%;
    background-color: #EEE;

}

.test {
    height: 10%;
    background-color: #AAA;
}

.img-small {
    scale: 10%;
}

.cart {
    scale: 120%
}

.pangram {
    font-size: 125%;
}