@import "node_modules/bootstrap/scss/bootstrap.scss";

$footerHeight: 250px;

.main {

    min-height: 100%;
    position: relative;
    background-color: #FFF;
    padding: 0 0 $footerHeight 0;

}

footer {
    
    position: absolute;
    width: 100%;
    background-color: #343a40;
    min-height: $footerHeight;
    bottom: 0;
    padding-top: 15px;

}

.scaffoldHelper {

    min-height: 100px;
    padding: 5px;
    background-color: rgba(255, 192, 203, 0.25);

}

#single-product-info img {
    width:300px;
    height: auto;
    display: inline;
    

}
.product-content{
    float: right;
    width: 550px;
    margin-top: 20px;
    p{
        text-align: center;  
        padding-top: 30px;   
        
    } h1{
        text-align: center;
    }
}

.product-info {
    height: 150px;
    h2{
        font-size: 45px; 
    } 
}
.product-buttons{
    display: flex;
    justify-content: space-evenly;
}
.product-title{
    outline-style: solid;
}

